body {
  background: #f8f9fa;
}
.section-box {
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dee2e6;
  padding: 0.8rem;
  margin-bottom: 1rem;
}
.card {
  cursor: pointer;
  transition: background-color 1s linear, color 0.3s ease;
}
.bg-danger {
  background-color: #85232d !important;
  color: #fff !important;
}
.bg-secondary {
  background-color: #6c757d !important;
  color: #fff !important;
}
.bg-success {
  background-color: #198754 !important;
  color: #fff !important;
}
@keyframes dyingGradient {
  0% {
    background-color: #FFF9C4;
  }
  10% {
    background-color: #FFEA95;
  }
  20% {
    background-color: #FFE066;
  }
  30% {
    background-color: #FFD54F;
  }
  40% {
    background-color: #FFC107;
  }
  50% {
    background-color: #FFB300;
  }
  60% {
    background-color: #FF9800;
  }
  70% {
    background-color: #FB8C00;
  }
  80% {
    background-color: #F57C00;
  }
  90% {
    background-color: #E65100;
  }
  100% {
    background-color: #85232d;
  }
}
.card-body {
  border-radius: inherit;
}
.card-body.bg-danger {
  border-radius: inherit;
}
